# Assessment Submission Service configuration
SS_DB_HOST=localhost
SS_DB_PORT=15433
SS_DB_NAME=af_submission
SS_DB_USER=assessorflow
SS_DB_PASSWORD=assessorflow_prod
SS_PORT=8060
SS_GRPC_PORT=9060
GCS_BUCKET=assessorflow-materials
GOOGLE_APPLICATION_CREDENTIALS=./gcs-credentials.json
GCP_PROJECT_ID=accessorflow
IDENTITY_GRPC_HOST=localhost:9090
